@CHARSET "UTF-8";

.tableContainer{
	display: table;
	width : 100%;
}

.tableRow{
	display: table-row;
	
}

.tableRow:HOVER{
	background-color: grey;
	color: white;
}

.tableRow div{
	display: table-cell;
	padding: 5px;
	border-bottom-style: solid;
}

.logo{
	width: 100%;
}

.horizontalFlexContainer{
	display: flex;
	height: 100%;
	
}

.verticaleFlexContainer{
	display: flex;
	flex-direction : column;
	height: 100%;
	
}

.menuContainer{
	flex-basis:300px;
}

.generalContainer{
	flex-grow:1;
	background-color: silver;
	color: white;
}

.asideContainer{
	flex-basis:50px;
	background-color: grey;
}

.buttonMenu{
	text-align: center;
	font-style: normal;
	font-size: x-large;
	text-decoration: none;
	color:grey;
}

.buttonMenu:HOVER{
	background-color: grey;
	color: white;
}

.clearLink{
	text-decoration: none;
}

.containerMarged{
	margin: 10px
}

.veryBigText{
	font-size: 80px;
}
.veryBigText input{
	font-size: 80px;
}

.veryBigText button{
	font-size: 80px;
}

.bigText{
	font-size: 40px;
}

.bigText input{
	font-size: 40px;
}

.bigText button{
	font-size: 40px;
}